body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #ffffff;
}

div.header-block {
  padding-left: 1rem;
}

h1.title {
  margin-bottom: 0px;
}

p.subtitle {
  margin-top: 0px;
}

div.shadow-holder {
  width: 100%;
}

div.shadow-block {
  width: 150px;
  height: 150px;
  align-self: center;
  background-color: rgb(240, 240, 240);
}